@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../imagens/fundo.jpg");
    background-size: cover;
    position: relative;
}

iframe {
    width: 300px;
    height: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

.botoes {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

img > a {
    height: 50px;
    width: 50px;
}