@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    background:url('../imagens/fundo.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px; /*abri no gimp e peguei o tamanho correto da imagem*/
    width: 311px;
    background-color: blue;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px
    /*posiciona a imagem certinho dentro da tela do telefone*/
}

.botoes {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
